.box {
  background-color: #8ea86e;
  color: #fff;
  text-align: center;
  margin: 20px;
}

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 { 
  margin: 0; 
  padding: 0; 
} 

img { 
  border: none; 
  margin: 0; 
  padding: 0; 
}

body {
  font-family: Palatino Linotype, "Book Antiqua", Palatino, serif;
  font-size: 14px;
  color: #565656;
  background-color: #fff;
}

hr {
  opacity: 30%;
  margin: auto;
  width: 40%;
}

a:link, a:visited { 
  text-decoration: none; 
  background-color: transparent;
}

a:hover { 
  background-color: transparent;
  color: #999;
  text-decoration: none;
  font-size: 18px; 
  transition: all 0.3s ease 0s;
 }

a:active {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}

.hidden {
  display: none;
}

/*-- Start Container --*/

.container {
  width: 980px;
  margin: 0 auto;
  background-color: #fff;
}

/*-- End Container --*/
/*-- Start Header --*/

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logoHeader {
  width: 220px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.mainNav {
  width: 500px;
  height: 25px;
  margin-top: 45px;
  margin-left: 350px;

}

.mainNav ul {
  list-style-type: none;
  padding: 0;
}

.mainNav ul li {  
  font-size: 14px;
  display: inline;
  cursor: pointer;
  margin-left: 25px;
}


.mainNav ul li a {
  color: #565656;
  padding: 5px;
}

.mainNav ul li a:hover {
  padding: 5px;
  background-color: transparent;
  color: #999;
  text-decoration: none;
  font-size: 18px; 
  transition: all 0.3s ease 0s;
}

.selected {
  padding: 5px 0px 5px 0px;
  font-weight: bold !important;
  font-size: 20px !important;
}

/*-- End Header --*/
/*-- Start Index --*/

.hero {
  height: 384px;
  width: 980px;
  position: relative; /*set to relative to anything that uses absolute inside will positioned to the top left corner of this element*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heroIndex {
  background: url(../images/banner_index.png) no-repeat bottom; 
}

.heroAbout {
  background: url(../images/banner_about.png) no-repeat bottom; 
}

.heroContact {
  background: url(../images/banner_contact.png) no-repeat bottom; 
}

.hero h2 {
  color: #fff;
  font-size: 31px;
  letter-spacing: -1px;
  text-align: center;
}

.hero h3 {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight:normal;
  margin-bottom: 20px;
}

/*-- End Hero --*/
/*-- Start Index --*/

.flooringTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.flooringTypes p {
  margin-top: 20px;
  line-height: 22px;
  color: #666;
  font-size: 16px;
}

.hardwood, .tile, .carpet, .laminate, .other {
  color: #fff;
  width: 300px;
  padding: 10px;
}

.flooringTypes img:hover {
  opacity: 50%;
  transition: all 0.6s ease 0s;
}

.hardwood h3 {
  color: #333;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 30px;
}

.tile h3 {
  color: #333;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 30px;
} 

.carpet h3 {
  color: #333;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 30px;
} 

.laminate h3 {
  color: #333;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 30px;
}

.other h3 {
  color: #333;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 30px;
}

.testimonialCon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.testimonial {
  background-color: #efefef;
  width: 460px;
  height: 190px;
  margin-bottom: 20px;
}

.testimonial p {
  margin-top: 20px;
  line-height: 22px;
  color: #666;
  font-size: 16px;
}

.testImage {
  float: left;
  margin-top: 20px;
  margin-left: 15px;  
  margin-right: 10px;
}

.testName {
  font-size: 18px;
  display: block;
  font-weight: bolder;
  margin-top: 15px;
  color: #565656;
  margin-left: 30px;
}

/*-- End Index --*/
/*-- Start About --*/

.aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.aboutUs p {
  margin-top: 20px;
  line-height: 22px;
  color: #666;
  font-size: 16px;
}

.aboutUs h3 {
  color: #333;
  font-size: 24px;
  text-align: center;
  padding-right: 10px;
  padding-bottom: 30px;
}

.preston h3 {
  padding-right: 75px !important;
}

.aboutUs img:hover {
  opacity: 75%;
  transition: all 0.6s ease 0s;
}

.matty, .billy, .andy, .preston p {
  color: #333;
  text-align: center;
  padding-right: 60px;
  padding-bottom: 30px;
  font-size: 15px !important;
}

.beginning {
  background-color: transparent;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: 600px;
  margin-left: 160px;
}


.beginning h2 {
  font-size: 31px;
  letter-spacing: -1px;
  text-align: center;
  color: #565656;
}

.beginning p {
  margin-top: 20px;
  line-height: 22px;
  color: #565656;
  font-size: 16px;
  text-align: center;
}

.matty, .billy, .andy {
  color: #fff;
  width: 300px;
  padding: 10px;
}

.preston {
  color: #fff;
  width: 300px;
  padding: 10px;
  padding-left: 40px;
}

.inTouch {
  background-color: transparent;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: 600px;
  margin-left: 160px;
}

.inTouch h2 {
  font-size: 40px;
  font-weight: bold;
}

.inTouch a {
  font-size: 40px;
  font-weight: bold;
  color: #565656;
}

.inTouch a:hover {
  transition: width 2s, height 4s;
  font-style: italic;
  color: #ccc;
  transition: all 0.3s ease 0s;
}

/*-- End About --*/
/*-- Begin Contact --*/

#mainContact {
  width: 940px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mainContact h2 {
  font-size: 30px;
  color: #565656;
  background-color: #ddeff7;
  margin-bottom: 40px;
  padding: 8px 0px 8px 5px;
  width: 940px;
}

#contactArea {
  width: 469px;
  border-right: solid 2px #f0f0f0;
  margin-bottom: 30px; 
}

#contactText {
  font-size: 14px;
  margin-bottom: 30px;
  width: 340px;
}

#contactForm {
  margin-top: 30px;
}

fieldset {
  border: 2px;
  border-color: #565656;
  padding: 0px;
}

input, textarea  {
  border-radius: 20px !important;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  height: 10px;
  background-color: #efefef;
  display: block;
  border: 1px solid #999;
  color: #565656;
}

#comments {
  width: 360px;
  height: 150px;
}

.submit {
  height: 50px;
  color: #565656 !important;
  font-size: 10px;
  text-decoration: none;
  background: transparent;
  justify-content: center;
  align-items: center;
  border: 2px solid #565656 !important;
  display: inline-flex;
  transition: all 0.6s ease 0s;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.submit:hover {
  border-radius: 0px !important; 
  color: #fff !important;
  font-size: 20px;
  background: #565656;
  border-color: #565656 !important;
  transition: all 0.6s ease 0s;
  text-transform: uppercase;
}

.confidential {
  font-size: 10px;
  color: #666;
}

select {
  color: #666;
  border-radius: 20px !important;
  background-color: #efefef;
  border: thin solid #999;
  border-radius: 2px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

/* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.subHeader  {
text-align: center;
color: #333;
font-weight: bold;
font-size: 22px;
margin-top: 0;
padding-bottom: 15px;
padding-top: 15px;
}

#mapArea {
  width: 360px;
  margin-left: 90px;
}

#mapArea ul {
  list-style-type: none;
  text-align: left !important;
  padding: 0;
} 

/*-- End Contact --*/
/*-- Start Footer --*/

.mainFooter {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #ccc;
  justify-content: flex-start;
  height: 170px;
  background: url(../images/footer.png) repeat-x;
}

.logoNav {
  display: flex;
  flex-direction: column;
}

.logoFooter {
  margin-top: 25px;
  margin-bottom: 20px; 
  margin-left: 20px;
}

.footerNav {
  width: 380px;
  margin-left: auto;
  margin-top: 28px;
  padding-left: 20px;
}

.footerNav ul {
  padding: 0;
  list-style-type: none;
  width: 300px;
  margin-left: 30px;
}

.footerNav ul li { 
  cursor: pointer;
  display: inline;
  margin-right: 25px;
  margin-left: auto;
  font-size: 12px;  
}

.footerNav ul li a {
  color: #333;
}

.footerNav ul li a:hover {
  color: #999;
}

.socialMedia {
  margin-top: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
}

#copyright {
  padding-top: 30px;
  width: 500px;
  height: 25px;
  color: #666;
}

#iconNav img {
  width: 45px;
  height: 45px;
}

#iconNav {
  list-style: none;
  margin: 0;
  padding: 0
}

#iconNav li {
  display: inline;
  margin-right: 10px;
}

#iconNav li a {
  filter: grayscale(100%);
}

#iconNav li a:hover {
  filter: grayscale(0%);
}
/* End Header */
